@model IEnumerable<AulaWeb.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We dont have any customers yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Membership Type</th>
            </tr>   
        </thead>

        <tbody>
            @foreach(var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.name,"Edit","Customer",new { id = customer.id },null)</td>
                    <td>@customer.MemberShipType.Name</td>
                </tr>
            }
        </tbody>
    </table> 
}